<div style="padding: 2rem;">
 
    <!--  -->
    <div class="wid-fit mb-2">
        <div class="flex gap10  mb-2 wid-fit" >
       
            <div>
                <i class="fa fa-brands fa-whatsapp fa-xl"></i>
            </div>
            <div>
                <i class="fa-brands fa-facebook fa-xl"></i>
            </div>
            <div>
                <i class="fa-brands fa-linkedin fa-xl"></i>
            </div>
            <div>
                <i class="fa-brands fa-github fa-xl"></i>
            </div>
        </div>
        <div class="line-blue"></div>
    </div>
    
   
    <!-- <div class="flex gap10 center">
         <i class="fa fa-envelope" aria-hidden="true"> gggg </i>
      </div>
    
    <i class="fa fa-mobile" aria-hidden="true"> {{cel}}</i> -->
    <h6 ><i class="fa fa-phone" aria-hidden="true"></i> {{cel}}</h6>
    <h6 ><i class="fa fa-envelope" aria-hidden="true"> </i> {{mail}}</h6>   
        <h6 >© 2024. Portfolio Julio Cesar Moreno Ramírez </h6>

</div>
