<div style="padding: 2rem;">
 
    <!--  -->
    <div class="wid-fit mb-2">
        <div class="flex gap10  mb-2 wid-fit" >
       
            <a href="https://api.whatsapp.com/send?phone=5521981835244" target="_blank">
                <i class="fa fa-brands fa-whatsapp fa-xl"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100010656570420" target="_blank">
                <i class="fa-brands fa-facebook fa-xl"></i>
            </a>
            <a href="https://www.linkedin.com/in/julio-cesar-moreno-ram%C3%ADrez-45ab59245?jobid=1234&lipi=urn%3Ali%3Apage%3Ad_jobs_easyapply_pdfgenresume%3BdNCeH%2BSaRBG4zU7QCA1eUA%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_jobs_easyapply_pdfgenresume-v02_profile" target="_blank">
                <i class="fa-brands fa-linkedin fa-xl"></i>
            </a>
            <a href="https://github.com/juliomr21/" target="_blank">
                <i class="fa-brands fa-github fa-xl"></i>
            </a>
        </div>
        <div class="line-blue"></div>
    </div>
    
   
    <!-- <div class="flex gap10 center">
         <i class="fa fa-envelope" aria-hidden="true"> gggg </i>
      </div>
    
    <i class="fa fa-mobile" aria-hidden="true"> {{cel}}</i> -->
    <h6 ><i class="fa fa-phone" aria-hidden="true"></i> {{cel}}</h6>
    <h6 ><i class="fa fa-envelope" aria-hidden="true"> </i> {{mail}}</h6>   
        <h6 >© 2024. Portfolio Julio Cesar Moreno Ramírez </h6>

</div>
