.gap10{
    gap: 20px;
}
.flex{
    display: flex;
}
.center{
    justify-content: center;
}
.logo{
    width: 64px;
    height: 64px;
}
.img-logo{
    width: 40px;
    height: 40px; 
}
.wid-fit{
    width: fit-content;
  
}
.line-blue{
    height: 3px;
    background: darkslateblue;
}
a{
    color: white;
}