<div style="padding: 3rem;">
 
    <div class="flex center gap10 mt-4 mb-2 ">
        <div class="logo">
            <img class="img-logo" src="assets/images/logos/1.png" alt="">
        </div>
        <div class="logo">
            <img class="img-logo" src="assets/images/logos/2.png" alt="">
        </div>
        <div class="logo">
            <img class="img-logo" src="assets/images/logos/3.png" alt="">
        </div>
        <div class="logo">
            <img class="img-logo" src="assets/images/logos/4.png" alt="">
        </div>
        <div class="logo">
            <img class="img-logo" src="assets/images/logos/5.png" alt="">
        </div>
        <div class="logo">
            <img class="img-logo" src="assets/images/logos/7.png" alt="">
        </div>
        <!-- <i class="fa-brands fa-whatsapp fa-xl"></i>
        <i class="fa-brands fa-facebook fa-xl"></i>
        <i class="fa-brands fa-linkedin fa-xl"></i> -->
    </div> 
    <h6 class="text-center">© 2024. Portfolio Julio Cesar Moreno Ramírez </h6>

</div>
