<div class="container">

    <div class="nav-bar">
        
        <div class="d-none d-md-block">
            <div class="aling-link">
                <a class="nav-link" href="#skill" >{{linkShow[0]}}</a>
                <a class="nav-link" href="#projetos">{{linkShow[1]}}</a>
                <a class="nav-link" href="#exp" >{{linkShow[2]}}</a>
                <a class="nav-link" href="#cert">{{linkShow[3]}}</a>
                <a class="nav-link" href="#formacion">{{linkShow[4]}}</a>
            </div>
           
        </div>

        <div class="dropdown">
            <button class="dropbtn" (click)="showMenu()"><i class="fa-solid fa-language"></i>-{{lenguage|uppercase}}</button>
            <div class="dropdown-content" [style]="styleDrop">
                <a  (click)="modificar('pt')">
                  Português-PT
                </a>
                <a (click)="modificar('es')">
                    Español-ES
                </a>
                <a (click)="modificar('en')">
                    English-EN
                </a>
            </div>
          </div>
        <div class="d-sm-none">
             
              <div class="dropdown">
                <button class="dropbtn" (click)="closeMenu()"><i class="fa fa-bars" aria-hidden="true"></i></button>
                <div class="dropdown-content posMenu" [style]="stylemenu" (click)="closeMenu()">
                    <a class="nav-link" href="#skill" >{{linkShow[0]}}</a>
                    <a class="nav-link" href="#projetos">{{linkShow[1]}}</a>
                    <a class="nav-link" href="#exp" >{{linkShow[2]}}</a>
                    <a class="nav-link" href="#cert">{{linkShow[3]}}</a>
                    <a class="nav-link" href="#formacion">{{linkShow[4]}}</a>
                </div>
              </div>
                          
        </div>
    </div>
     
</div>
