.nav-bar{
    padding: 2rem;
    display: flex;
    justify-content: end;
}
.aling-link{
   display: flex;
   gap: 45px;
   font-size: medium;
   
}
@media(max-width:450px)
{
    .nav-bar{
        padding: 1rem;
        padding-top: 0;
        padding-bottom: 0;
    }
}