<div class="container">

    <div class="nav-bar">
      
        <div class="d-none d-md-block">
            <div class="aling-link">
                <a class="nav-link" href="#skill" >{{linkShow[0]}}</a>
                <a class="nav-link" href="#projetos">{{linkShow[1]}}</a>
                <a class="nav-link" href="#exp" >{{linkShow[2]}}</a>
                <a class="nav-link" href="#cert">{{linkShow[3]}}</a>
                <a class="nav-link" href="#formacion">{{linkShow[4]}}</a>
            </div>
           
        </div>
        <img src={{flag}} class="img-flag" alt="" (click)="menuFlag
        = !menuFlag">
        @if(menuFlag){
            <div class="flag-style"  (click)="closeMenuFlag()">
                <div>
                    <img src="assets/images/flag/1.png" alt="" (click)="modificar('pt')">
                </div>
                <div>
                    <img src="assets/images/flag/2.png" alt="" (click)="modificar('es')">
                </div>
                <div>
                    <img src="assets/images/flag/3.png" alt="" (click)="modificar('en')">
                </div>
                
                              
            </div>
        }
        <div class="d-sm-none">
              <img  src="assets/images/skill/menu.png" alt="" (click)="menu = !menu">     
              
                          
        </div>
    </div>
    @if(menu){
        <div class="d-sm-none" (click)="closeMenu()">
            <div class="aling-link">
                <a class="nav-link" href="#skill" >{{linkShow[0]}}</a>
                <a class="nav-link" href="#projetos">{{linkShow[1]}}</a>
                <a class="nav-link" href="#exp" >{{linkShow[2]}}</a>
                <a class="nav-link" href="#cert">{{linkShow[3]}}</a>
                <a class="nav-link" href="#formacion">{{linkShow[4]}}</a>
            </div>
        </div>
    }
   
</div>

