.nav-bar{
    padding: 2rem;
    display: flex;
    justify-content: end;
}
.aling-link{
   display: flex;
   gap: 40px;
   font-size: medium;
   
}
.aling-link a:hover{
border-bottom: solid 2px darkslateblue;
}
.flag-style{
    gap: 10px;
    flex-direction: column;
    background: #313237;
    width: fit-content;
    padding: 5px;
    position: absolute;
    right: 10%;
    top: 47px;
    img{
        width: 28px;
    }

}
.img-flag{
    margin-left: 10px;
  width: 32px;
  cursor: pointer;
}
.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left:10px ;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #313237;
    
   width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
 
  .dropdown-content a {
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: darkslateblue}
  .posMenu{
    right: 10%;
  } 
 
@media(max-width:450px)
{
    .nav-bar{
        padding: 1rem;
        padding-top: 5px;
        padding-bottom: 0;
    }
    .aling-link{
        gap: 10px;
        flex-direction: column;
        background: #313237;
        width: fit-content;
        padding: 1rem;
        position: absolute;
        right: 10%;
        top: 47px;

    }
    .flag-style{
        right: 21%;
  top: 40px;
    }
    .img-flag{
        height: 32px;
   margin-top: 18px;
    }
}