.mi-componente {
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
   
  }
  .spiner-class{
    display: flex;justify-content: center;align-items: center;height: 100vh;
  }
   