:root {
  --background-color: #222;
  --text-color: #fff;
}
@font-face {
    font-family: 'Heebo';
    src: url('assets/fonts/heebo/Heebo-VariableFont_wght.ttf') format('truetype');
    /* Agrega aquí cualquier otro estilo que desees, como fontWeight, fontStyle, etc. */
  }
  
/* You can add global styles to this file, and also import other style files */
