<div class="mi-componente ">
    <section class="personal-info">
        <div class="container">
            <div class=" d-sm-none">
                <div class="flex center">
                    <img class="home-inner mb-4 " alt="" src="assets/images/personal.jpg" />
                </div>
            </div>          
            <div class="row">
                <div data-aos="fade-right" class=" col-md-8 ">
                    <div class="personal-info-text ">
                        <h1>{{portfolio?.personal?.saludo}}</h1>
                        <div>
                            <h2>{{portfolio?.personal?.titulo}}</h2>
                        </div>
                        <p> {{portfolio?.personal?.descripcion}} </p>
                        @if (download) {
                            <div class="flex gap10 ">
                                <div>
                                    <a class=" btn btn-primary" href={{portfolio?.personal?.cv}}
                                        download="cv-Julio-C-Moreno-Ramirez.pdf">Download CV <i class="fa fa-download"
                                            aria-hidden="true"></i> </a>
                                </div>
    
                                <div class="flex gap10 center">
                                    <a href="https://api.whatsapp.com/send?phone=5521981835244" target="_blank"><i
                                            class="fa fa-brands fa-whatsapp fa-xl"></i></a>
                                    <a href="https://www.facebook.com/profile.php?id=100010656570420" target="_blank"> <i
                                            class="fa-brands fa-facebook fa-xl"></i></a>
                                    <a href="https://www.linkedin.com/in/julio-cesar-moreno-ram%C3%ADrez-45ab59245?jobid=1234&lipi=urn%3Ali%3Apage%3Ad_jobs_easyapply_pdfgenresume%3BdNCeH%2BSaRBG4zU7QCA1eUA%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_jobs_easyapply_pdfgenresume-v02_profile"
                                        target="_blank">
                                        <i class="fa-brands fa-linkedin fa-xl"></i></a>
                                    <a href="https://github.com/juliomr21/" target="_blank"><i
                                            class="fa-brands fa-github fa-xl"></i></a>
                                </div>
                                <div class="line-blue"></div>
                            </div>
                        }
                       
                    </div>
                </div>
                <div class="d-none d-md-block col-4">
                    <div class="flex center">
                        <img class="home-inner" alt="" src="assets/images/personal.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-aos="fade-up" class="skill-section">
        <h2 class="text-center mb-3">{{portfolio?.skill?.section}}</h2>
        <div class="container">
            <div class=" skill-logo row  text-primary">
                @for (skill of portfolio?.skill?.skills; track $index) {
                    <div class="col mt-3 center flex">
                        <div>
                            <img class="skill-logo-form" src={{skill.image}} alt="">
                            <h6 class="text-white text-center mt-1">{{skill.titulo}}</h6>
                        </div>    
                    </div>
                }               
            </div>
        </div>
    </section>
    <section data-aos="fade-up" class="project-section">
        <h2 class="text-center mb-5 ">{{portfolio?.proyectos?.section}}</h2>
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2">
                @for (proyecto of portfolio?.proyectos?.project ; track $index) {
                <div class="col mt-3">
                    <div class=" project-card nav-link">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <img class="img-project" alt="" src={{proyecto.image}} />
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <h3 class="">{{proyecto.tema}} </h3>
                                <div class="card-project-info-ano">
                                    <p>{{proyecto.type}} </p>
                                    <p>{{proyecto.empresa}}</p>
                                </div>
                                <div class="flex gap10 mt-1">
                                    @if (proyecto.dir_code === '') {
                                    <button class="btn " href="" disabled="true">Ver código <i
                                            class=" fa-brands fa-github "></i></button>
                                    }@else{
                                    <a class="btn btn-light" href={{proyecto.dir_code}} target="_blank">Ver código <i
                                            class=" fa-brands fa-github color-black "></i></a>
                                    }
                                    <a class="btn btn-primary" href={{proyecto.dir_site}} target="_blank">Ver
                                        site <i class="fa fa-external-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <p class="card-project-info-description mt-2">
                                {{proyecto.description}}
                            </p>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
    <section class="experiencia">
        <div class="container">
            <h2 class="text-center mb-5">{{portfolio?.experiencia?.section}}</h2>
            <div class="flex center">
                <div class="col-md-8 col-12">
                    @for(experiencia of portfolio?.experiencia?.experiencia ; track $index){

                    <div data-aos="fade-right" class="experiencia-card mt-2">
                        <h4>{{experiencia.centro}}</h4>
                        <b> {{experiencia.cargo}}</b>
                        <p> {{experiencia.descripcion}} </p>
                    </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <section class="certificacion-section">
        <div data-aos="fade-up" class="container">
            <h2 class="text-center mb-5">{{portfolio?.cetificacion?.section}}</h2>
            <div class="row">
                @for (certificacion of portfolio?.cetificacion?.certificados; track $index) {
                    <div class="col-lg-4 col-12 mb-3 col">
                        <div class="container">
                            <div class="certificacion-card row">
                                <div class="col-6">
                                    <img class="certificacion-image col-12" src={{certificacion.image}} alt="">
                                </div>
                                <div class="col-6">
                                    <h5>{{certificacion.empresa}}</h5>
                                    <h6>{{certificacion.titulo}}</h6>
                                    @if (certificacion.type === 'link') {
                                        <a class=" nav-link certificacion-link text-center"
                                        href={{certificacion.link}} target="_blank"
                                        rel="noopener noreferrer">Ver certificação <i class="fa fa-external-link"
                                            aria-hidden="true"></i></a>
                                    }@else {
                                        <a class="nav-link certificacion-link text-center " href={{certificacion.link}}
                                    download="ICPC2021.pdf">Download PDF <i class="fa fa-download"
                                        aria-hidden="true"></i> </a>
                                    }                                   
                                </div>
                            </div>
                        </div>
                    </div>
                }                
            </div>
        </div>
    </section>
    <section class="experiencia">
        <div class="container">
            <h2 class="text-center mb-5">{{portfolio?.formacion_principal?.section}} Formação.</h2>
            <div data-aos="fade-right" class="flex center">
                <div class="col-md-8 col-12">
                    <div class="formacion-card">
                        <h4 class="text-center">{{portfolio?.formacion_principal?.titulo}}</h4>
                        <h4 class="text-center">{{portfolio?.formacion_principal?.centro}}</h4>
                    </div>
                </div>
            </div>
            <h2 class="text-center mb-5 mt-5">{{portfolio?.formacion_complementaria?.section}}</h2>
            <div class="flex center">
                <div class="container">
                    <div class="row">
                        @for (cursos of portfolio?.formacion_complementaria?.cursos; track $index) {
                            <div data-aos="fade-right" class="col-lg-6 col-12 mt-3">
                                <div class="formacion-card">
                                    <h4 class="text-center">Curso de Angular 8</h4>
                                    <h4 class="text-center">Edutin Academy (2021).</h4>
                                </div>
                            </div>
                        }                       
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>