<div class="mi-componente ">

    <section class="personal-info">
        <div class="container">
            <div class=" d-sm-none">
                <div class="flex center">
                    <img class="home-inner " alt="" src="assets/images/personal.jpg" />
                </div>
                <div class="flex center gap10 mt-4 mb-5">
                    <i class="fa-brands fa-whatsapp fa-xl"></i>
                    <i class="fa-brands fa-facebook fa-xl"></i>
                    <i class="fa-brands fa-linkedin fa-xl"></i>
                </div>

            </div>

            <div class="row">

                <div class=" col-md-8 ">
                    <div class="personal-info-text ">
                        <h1>Olá, sou Julio Cesar Moreno Ramírez</h1>
                        <h2>Bacherel em Ciência da
                            Computação</h2>
                        <p> Professor de programação competitiva
                            com domínio em estruturas de dados e
                            algoritmos. Como programador web,
                            tenho contribuído desde o Front-End
                            para o desenvolvimento de aplicações
                            web, utilizando Angular como
                            tecnologia principal.</p>
                            <div class="flex gap10">
                                <button class=" btn btn-primary">Download CV</button>
                            </div>
                        

                    </div>
                </div>
                <div class="d-none d-md-block col-4">
                    <div class="flex center">
                        <img class="home-inner" alt="" src="assets/images/personal.jpg" />
                    </div>
                    <div class="flex center gap10 mt-4">
                        <i class="fa-brands fa-whatsapp fa-xl"></i>
                        <i class="fa-brands fa-facebook fa-xl"></i>
                        <i class="fa-brands fa-linkedin fa-xl"></i>
                        <!-- <img src="https://icons8.com.br/icon/55199/c-plus-plus-logo" alt=""> -->
                    </div>
                </div>


            </div>

        </div>
    </section>
    <section class="skill-section">
        <h2 class="text-center mb-5">Habilidades, ferramentas e tecnologias que utilizo:</h2>
        <div class="container">
            <div class=" skill-logo row  text-primary">
                <div class="skill-logo-form col-lg-3">
                    <i class="fa-brands fa-angular"></i>
                </div>
                <div class="skill-logo-form col-lg-3">
                    <i class="fa-brands fa-html5"></i>
                </div>
                <div class="skill-logo-form col-lg-3">
                    <i class="fa-brands fa-css3-alt"></i>
                </div>
                <div class="skill-logo-form col-lg-3">
                    <i class="fa-brands fa-js"></i>
                </div>
                <div class="skill-logo-form col-lg-3">
                    <i class="fa-brands fa-node"></i>
                </div>
                <div class="skill-logo-form col-lg-3">
                    <i class="fa-brands fa-bootstrap"></i>
                </div>
                <div class="skill-logo-form col-lg-3">
                    <i class="fa-brands fa-figma"></i>
                </div>
                <div class="skill-logo-form col-lg-3">
                    <i class="fa-brands fa-git-alt"></i>
                </div>
                <div class="skill-logo-form col-lg-3">

                    <i class="fa-brands fa-github"></i>
                </div>
            </div>
        </div>

    </section>
    <section class="project-section">
        <h2 class="text-center mb-5 ">Featured works</h2>
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col mt-3">
                    <div class=" project-card">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <img class="img-project" alt="" src="assets/images/Rectangle 30.png" />
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <h4 class="">Designing Dashboards</h4>
                                <div class="flex">
                                    <div class="card-project-info-ano">
                                        <p>2020</p>
                                    </div>
                                    <div class="card-project-info-category">
                                        <p>Dashboards</p>
                                    </div>
                                </div>
                                <p class="card-project-info-description">
                                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                                    sint. Velit officia consequat duis enim velit mollit. Exercitation
                                    veniam consequat sunt nostrud amet.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="project-card">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <img class="img-project" alt="" src="assets/images/Rectangle 30.png" />
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <h4 class="">Designing Dashboards</h4>
                                <div class="flex">
                                    <div class="card-project-info-ano">
                                        <p>2020</p>
                                    </div>
                                    <div class="card-project-info-category">
                                        <p>Dashboards</p>
                                    </div>
                                </div>
                                <p class="card-project-info-description">
                                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                                    sint. Velit officia consequat duis enim velit mollit. Exercitation
                                    veniam consequat sunt nostrud amet.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col mt-3">
                    <div class=" project-card">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <img class="img-project" alt="" src="assets/images/Rectangle 30.png" />
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <h4 class="">Designing Dashboards</h4>
                                <div class="flex">
                                    <div class="card-project-info-ano">
                                        <p>2020</p>
                                    </div>
                                    <div class="card-project-info-category">
                                        <p>Dashboards</p>
                                    </div>
                                </div>
                                <p class="card-project-info-description">
                                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                                    sint. Velit officia consequat duis enim velit mollit. Exercitation
                                    veniam consequat sunt nostrud amet.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="project-card">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <img class="img-project" alt="" src="assets/images/Rectangle 30.png" />
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <h4 class="">Designing Dashboards</h4>
                                <div class="flex">
                                    <div class="card-project-info-ano">
                                        <p>2020</p>
                                    </div>
                                    <div class="card-project-info-category">
                                        <p>Dashboards</p>
                                    </div>
                                </div>
                                <p class="card-project-info-description">
                                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                                    sint. Velit officia consequat duis enim velit mollit. Exercitation
                                    veniam consequat sunt nostrud amet.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col mt-3">
                    <div class=" project-card">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <img class="img-project" alt="" src="assets/images/Rectangle 30.png" />
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <h4 class="">Designing Dashboards</h4>
                                <div class="flex">
                                    <div class="card-project-info-ano">
                                        <p>2020</p>
                                    </div>
                                    <div class="card-project-info-category">
                                        <p>Dashboards</p>
                                    </div>
                                </div>
                                <p class="card-project-info-description">
                                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                                    sint. Velit officia consequat duis enim velit mollit. Exercitation
                                    veniam consequat sunt nostrud amet.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="project-card">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <img class="img-project" alt="" src="assets/images/Rectangle 30.png" />
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <h4 class="">Designing Dashboards</h4>
                                <div class="flex">
                                    <div class="card-project-info-ano">
                                        <p>2020</p>
                                    </div>
                                    <div class="card-project-info-category">
                                        <p>Dashboards</p>
                                    </div>
                                </div>
                                <p class="card-project-info-description">
                                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                                    sint. Velit officia consequat duis enim velit mollit. Exercitation
                                    veniam consequat sunt nostrud amet.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <section class="experiencia  ">
        <div class="container">
            <h2 class="text-center mb-5">Experiência</h2>

            <div class="flex center">
                <div class="col-md-8 col-12">
                    <div class="project-card">
                        <h4>Freelancer (2021- Atualidade)</h4>
                        <b> Desenvolvedor Front-End</b>
                        <p>
                            

                            Como desenvolvedor front-end freelance me
                            especializei na utilização de tecnologias
                            como Angular, HTML, CSS, Bootstrap;
                            conseguindo desenvolver sites com designs
                            responsivos e consumo de API REST.
                        </p>
                    </div>
                    <div class="project-card mt-3">
                        <h4> Centro de Treinamento Provincial (2015-
                            2023)</h4>
                            <b> Professor de programação
                                competitiva</b>
                        <p>
                            Durante essa etapa atuei como Treinador
                            Provincial de Concursos de Programação de
                            nível pré-universitário, colocando minha
                            equipe entre as melhores do país, razão pela
                            qual fui chamado em diversas ocasiões para
                            preparar a Pré-seleção Nacional de
                            Informática para o IOI.
                        </p>

                    </div>
                    <div class="project-card mt-3">
                        <h4> Instituto Prevocacional de Ciencias Exactas (2011-
                            2015)</h4>
                            <b> Professor de matemática</b>
                        <p>
                            Nesse período, dei aulas de matemática
                            para alunos do Instituto Pré-Universitário de Ciências Exatas, que
                            nos permitiu consolidar conhecimentos e ganhar
                            habilidades de ensino.


                        </p>

                    </div>
                </div>

            </div>


        </div>

    </section>

</div>